<!-- app/views/recipes/index.html.erb -->
<h2>Top 5 Recipes</h2>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
      <h2><%= link_to recipe["recipeTitle"], recipe_path(recipe["recipeId"]) %></h2>
      <p><%= recipe["recipeDescription"] %></p>
      </li>
    <% end %>
  </ul>
<h2>Categories</h2>
  <ul>
    <li><h3><%= link_to "Veggies", category_recipes_path(12)%></h3></li>
    <li><h3><%= link_to "Meat", category_recipes_path(31)%></h3></li>
    <li><h3><%= link_to "Fish", category_recipes_path(32)%></h3></li>
    <li><h3><%= link_to "Eggs", category_recipes_path(33)%></h3></li>
    <li><h3><%= link_to "Soy/Tofu", category_recipes_path(35)%></h3></li>
    <li><h3><%= link_to "Rice", category_recipes_path(14)%></h3></li>
    <li><h3><%= link_to "Noodle", category_recipes_path(16)%></h3></li>
    <li><h3><%= link_to "Soups", category_recipes_path(17)%></h3></li>
    <li><h3><%= link_to "Salads", category_recipes_path(18)%></h3></li>
    <li><h3><%= link_to "Drinks", category_recipes_path(27)%></h3></li>
    <li><h3><%= link_to "Bento Box", category_recipes_path(20)%></h3></li>
    <li><h3><%= link_to "Healthy", category_recipes_path(39)%></h3></li>
    <li><h3><%= link_to "Spring", category_recipes_path(52)%></h3></li>
    <li><h3><%= link_to "Summer", category_recipes_path(53)%></h3></li>
    <li><h3><%= link_to "Fall", category_recipes_path(54)%></h3></li>
    <li><h3><%= link_to "Winter", category_recipes_path(55)%></h3></li>
  </ul>
