<h1><%= @recipe.title %></h1>
<p><%= @recipe.description %></p>
<img src="<%= @recipe.image %>" alt="<%= @recipe.title %>">
<p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %></p>
<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<h3>Instructions</h3>
<p><%= @recipe.instruction %></p>

