<!-- app/views/recipes/show.html.erb -->
<%= link_to 'Back', recipes_path %>
<h1><%= @recipe["recipeTitle"] %></h1>

<% if @recipe["imageUrl"].present? %>
  <img src="<%= @recipe["imageUrl"] %>" alt="<%= @recipe["recipeTitle"] %>">
<% end %>

<h2>Materials</h2>
<p><%= @recipe["recipeMaterial"] %></p>

<h2>Recipe Link</h2>
<p>
  <a href="<%= @recipe["recipeLink"] %>" target="_blank">View Full Recipe</a>
</p>
